body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.content {
  margin-top: 25px;
  flex: 1;
  padding: 20px;
  max-width: 600px;
  border-radius: 16px;
  height: 380px;
  margin-right: 50px;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content p {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
